<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Book</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Read</display-name>
    <servlet-name>Read</servlet-name>
    <servlet-class>CRUD.Read</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Read</servlet-name>
    <url-pattern>/Read</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form_Login</display-name>
    <servlet-name>Form_Login</servlet-name>
    <servlet-class>CRUD.Form_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form_Login</servlet-name>
    <url-pattern>/Form_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form_Create</display-name>
    <servlet-name>Form_Create</servlet-name>
    <servlet-class>CRUD.Form_Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form_Create</servlet-name>
    <url-pattern>/Form_Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form_Detail</display-name>
    <servlet-name>Form_Detail</servlet-name>
    <servlet-class>CRUD.Form_Detail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form_Detail</servlet-name>
    <url-pattern>/Form_Detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCart</display-name>
    <servlet-name>AddCart</servlet-name>
    <servlet-class>CRUD.AddCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCart</servlet-name>
    <url-pattern>/AddCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_Cart</display-name>
    <servlet-name>Update_Cart</servlet-name>
    <servlet-class>CRUD.Update_Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_Pay</servlet-name>
    <url-pattern>/Update_Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View_Pay</display-name>
    <servlet-name>View_Pay</servlet-name>
    <servlet-class>CRUD.View_Pay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_Pay</servlet-name>
    <url-pattern>/View_Pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Address</display-name>
    <servlet-name>Delete_Address</servlet-name>
    <servlet-class>CRUD.Delete_Address</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Address</servlet-name>
    <url-pattern>/Delete_Address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Address</display-name>
    <servlet-name>Add_Address</servlet-name>
    <servlet-class>CRUD.Add_Address</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Address</servlet-name>
    <url-pattern>/Add_Address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Filter</display-name>
    <servlet-name>Filter</servlet-name>
    <servlet-class>CRUD.Filter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filter</servlet-name>
    <url-pattern>/Filter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThongKeServlet</display-name>
    <servlet-name>ThongKeServlet</servlet-name>
    <servlet-class>CRUD.ThongKeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThongKeServlet</servlet-name>
    <url-pattern>/ThongKeServlet</url-pattern>
  </servlet-mapping>
</web-app>